* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  html {
    background-color: #fff;
  }
  body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  #root {
    background-color: #d60707;
    color: #fff;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.219);
  }
  
  .logoimg {
    width: 1544px;
    height: 80px;
    padding: 0px;
    
  }
  .logoimg {
    list-style: none; 
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .logoimg img {
    width: 80px;
    height: 80px;
    padding: 0px;
  }
  .logoimg a {
    width: 80px;
    height: 80px;
  }
  ul li {
    display: flex inline;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }
  ul {
    padding-left: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  ul {
    display: flex inline;
    justify-content: center;
    align-items: center;
  }
  ul li a {
    display: flex inline;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s;
    color: white;
  }
  .firstul li :hover {
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 5%;
  }
  .ourlocate a {
    border: 2px solid white;
    border-radius: 5%;
    width: 135px;
    height: 60px;
  }
  .ourlocate a ion-icon{
    height: 30px;
    width: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #delivery {
   height: 56px;
   width: 1544px;
   display: flex inline;
   align-items: center;
   justify-content: center;
  }
  .deliverybox {
    display: flex inline;
    align-items: center;
    width: 930px;
    height: 56px;
  }
  .deliverybox hr {
    width: 108.2px;
    height: 2px;
    border: 0px;
    background-color: #dddddd;
  }
  .deliverybox h1 {
    padding-left: 16px;
    font-weight: 400;
    color: #d60707;
  }
  #mid {
    margin-top: 70px;
  }
  .deliverybox a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 55px;
    background-color: #1a6413de;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    margin: 16px;
    transition: all 0.5s;
  }
  .deliverylinks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deliverylinks1 :hover {
    background-color: rgba(23, 83, 18, 0.952);
  }
  .deliverylinks2 :hover {
    background-color: rgba(23, 83, 18, 0.952);
  }
  #homepage {
    height: 675px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgheader {
    display: flex;
    width: 930px;
    height: 535px;
    padding-left: 4px;
  }
  .imgheader img {
    height: 500px;
    width: 300px;
    padding: 0px 10px 0px;
  }
  #mainfooter {
    display: flex inline;
    align-items: center;
    justify-content: center;
    width: 1544px;
    height: 565px;
    background-color: rgba(0, 0, 0, 0.596);
  }
  .footer {
    width: 900px;
    height: 485px;
  }
  .footer ul {
    width: 900px;
    height: 28px;
  }
  .footer ul li {
    font-weight: 100;
  }
  .promos {
    display: flex inline;
    width: 702px;
    height: 102px;
    margin-top: 30px;
    margin-left: 100px;
    align-items: center;
  }
  .promos ion-icon {
    height: 40px;
    width: 40px;
    padding: 10px;
    transition: all 0.5s;
    color: red;
  }
  .promos a :hover {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 60%;
    color: green;
  }
  .footerlegal {
    width: 900px;
    height: 234px;
    padding-top: 30px;
  }
  .firsttxt {
    display: block;
    width: 900px;
    height: 157px;
    justify-content: center;
  }
  .firsttxt p {
    font-size:medium;
    color: rgba(255, 255, 255, 0.527);
    font-weight: 100;
    padding-bottom: 21px;
    border-radius: 10px;
  }
  .firsttxt p a {
    color: red;
    text-decoration: none;
    font-weight: 400;
  }
  .firsttxt p :hover {
    color: green;
    border-radius: 10px;
  }
  
  
  
  
  
  
  
  
  
  